* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body elemet*/
body {
    margin: 0;
}

#header {
    background-image: url("../assets/pics/abart.jpg");
}

#header img {
    width:160px;
    height:180px;
    border-radius: 4px;
    border: 4px solid rgba(255, 255, 255, 0.4);
    margin: 30px 0 60px 20px;

}

#header p {
    font-size: 80px;
    font-style: italic;
    color:rgba(77, 121, 162, 0.99);
    /* margin: 0 0 0 30px; */
    position:absolute;
    top:10%;
    left: 35%;
}

#nav li a{
    margin: 0 200px 0 200px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.59);
    border-radius: 2px;
    font-size: larger;
    padding:5px;
    color: rgba(110, 121, 162);
}
/*header section*/
/* header {
    flex-wrap:wrap;
    justify-content: center;
    display: flex;
    font-family:sans-serif;
    background-image: url("../assets/pics/abart.jpg");
    padding-top: 20px;
    padding-bottom: 10px;
    
}

header img {
    justify-content: center;
    display:wrap;
    flex-wrap: wrap;
    border: 4px solid black;
    width: 150px;
    height: 160px;
    border-radius:15%;
    margin-left: 20px;
    
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
}

header nav {
    margin: 10px 0;

}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li{
    font-size: 20px;
    display: inline-block;
    

}

header nav ul li a {
    color:white;
    justify-content: space-between;
} */

.til-nav {
    display:flex; 
    justify-content:center; 
    color: white;
}
/*header section*/
 

/*About-Me section*/
#About-Me article p {
    font-size: 20px;
    display:flex;
    background-color: white;
    width: 90%;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

/*About-me section*/


/*footer section*/
footer {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    justify-content: space-between;
    flex-wrap: wrap;

}

#fp {
    padding-right: 6%;
}

footer h3{
    font-size: 15px;
}
/*footer section*/





div ul {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

div ul li {
    list-style: none;
    font-size: 21px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 50px;

}


/*my projects section*/
#bptxt {
    border: 3px solid black;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    position: absolute;
    background-color: none;
    color: black;
    padding: 5px;
    margin-top: 450px;
    margin-left: 6px;
}

.big-p {
    border: 5px solid rgb(0, 0, 0);
    width: 90%;
    height: 500px;
    
}

.ptext {
    border: 3px solid black;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    position: absolute;
    background-color: none;
    color: black;
    padding: 5px;
    margin-left: 6px;
    margin-top: 170px;
}
.lil-p {
    
    border: 5px solid rgb(0, 0, 0);
    height:220px;
    width:45%;
}

.lil-p:hover {
    border-color: blue;
}

.big-p:hover {
    border-color: blue;
}
.bckcl {
    margin-left: 600px;
    margin-top: 160px;
}
/*my projects section*/

/*multi-hit section*/
.sec-border {
    padding: 0px 6px 1px 4px;
    margin: -45px auto;
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    font-size:30px;;
}
/*multi-hit section*/

/*contact section*/
.contact-info {
    margin: 50px 100px 0  0;
    padding:0 30px 100px;

}
/*contact section*/


/*screen-adjust section*/
@media screen and (max-width: 1280px) {
    .bckcl {
        margin-left: 0%;
    }

    .lil-p {
        align-items: center;
        width:100%;
        height: 400px;
    }
    .big-p {
        width:100%;
        height:500px;
    }
    
    .ptext {
        border: 3px solid black;
        border-radius: 0%;
        background-color: rgb(253, 228, 191);
        position: relative;
        background-color: none;
        color: black;
        padding: 5px;
        margin-left: 6px;
        margin-top: 170px;
    }

    #bptxt {
        border: 3px solid black;
        border-radius: 0%;
        background-color: rgb(253, 228, 191);
        position: relative;
        background-color: none;
        color: black;
        padding: 5px;
        margin-top: 450px;
        margin-left: 6px;
    }
    #About-Me article p {
        font-size: 40px;
        display:flex;
        background-color: white;
        width: 90%;
        padding: 60px 10px 10px 10px;
        border-radius: 2px;
    }
    .contact-info {
        margin-bottom: 50px;
    
        padding:0 30px;
    }
    footer {
        display: flex;
        width: 20%;
        padding-bottom: 60px;
        justify-content:end;
        flex-wrap: wrap;
        margin-left: 5px;
    
    }
}


@media screen and (max-width: 575px) {
    .bckcl {
        margin-left: 0%;
    }

    .lil-p {
        align-items: center;
        width:100%;
    }
    .big-p {
        width:100%;
        height:300px;
    }
    .ptext {
        border: 3px solid black;
        border-radius: 0%;
        background-color: rgb(253, 228, 191);
        position: relative;
        background-color: none;
        color: black;
        padding: 5px;
        margin-left: 6px;
        margin-top: 170px;
    }

    #bptxt {
        border: 3px solid black;
        border-radius: 0%;
        background-color: rgb(253, 228, 191);
        position: relative;
        background-color: none;
        color: black;
        padding: 5px;
        margin-top: 450px;
        margin-left: 6px;
    }
    
    #About-Me article p {
        font-size: 40px;
        display:flex;
        background-color: white;
        width: 90%;
        padding: 80px 10px 10px 10px;
        border-radius: 2px;
    }
    footer {
        display: flex;
        width: 20%;
        padding: 10px 5px;
        justify-content:end;
        flex-wrap: wrap;
        margin-left: 5px;
    
    }

    .contact-info {
        margin-bottom: 50px;
    
        padding:0 30px;
    }
}

/*screen-adjust section*/