* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    flex-wrap:wrap;
    justify-content: space-between;
    display: flex;
    font-family:sans-serif;
    background-image: url("../assets/pics/abart.jpg");
    
}

header img {
    
    width: 120px;
    height: 100px;
    border-radius:10%;
    
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li{
    font-size: 20px;
    display: inline-block;

}

header nav ul li a {
    padding:10px 15px;
}

footer {
    display: flex;
    width: 100%;
    padding: 80px 99px 50px;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer h3{
    font-size: 15px;
}

section {
    margin: auto auto auto 600px;
    padding: 50px;
}


div ul {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

div ul li {
    list-style: none;
    font-size: 21px;

}
.container {
    position: relative;
}

.bptext {
    border:5px solid black;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(2, 2, 2);
    color: black;
    margin: 100px;

}
.big-p {
    border: 5px solid rgb(0, 0, 0);
    width: 90%;
    height: 500px;
    
}

.ptext {
    border: 3px solid black;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    position: absolute;
    margin: 160px 5px 1%;
    background-color: none;
    color: black;

}
.lil-p {
    border: 5px solid rgb(0, 0, 0);
    height:200px;
    width:50%;
}

.lil-p:hover {
    border-color: blue;
}

.big-p:hover {
    border-color: blue;
}
.work {
    background: rgb(255, 205, 149);
}
.Contact-Me h2 {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    position: absolute;
}

.contact-info {
    margin: 50px 100px 0  0;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 575px) {

}